{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
 
{% block content %}

<h1>A special template for the front page</h1>
<p>
<div class="bg-success p-2 text-dark bg-opacity-10">
  <div class="row">

    <div class="col">
		<div class="card">
     
			<p class="text-center">Center aligned.</p>
			<p class="text-center">Center aligned.</p>
			<p class="text-center">Center aligned.</p>
    </div>
	</div>
    <div class="col">
		<div class="card">
			<p class="text-center">Center aligned.</p>
			<p class="text-center">Center aligned.</p>
			<p class="text-center">Center aligned.</p>
    </div>
		</div>
    <div class="col">
		<div class="card">
			<p class="text-center">Center aligned.</p>
			<p class="text-center">Center aligned.</p>
			<p class="text-center">Center aligned.</p>
	  </div>
    </div>
  </div>
</div>
  Stay tuned, as we will be adding a special way of rendering the fields of the <code>HomePage</code> model as well as new Wagtail blocks especially for front-page like contents.
</p>
{% for block in page.body %}
    {% include_block block %}
{% endfor %}

{% endblock content %}
