{% load wagtailcore_tags static %}
{% load wagtailmarkdown i18n %}

<h1 class="migcontrol-page-title">{{ blog.title }}</h1>

{% if blog.date %}
    <p class="text-primary">
        <span class="fa fa-clock"></span>
        {{ blog.date|date:"F jS, Y" }}
        {% if blog.authors %}
        - {% trans "written by" %}: {{ blog.authors|default:"" }}
        {% endif %}
    </p>
{% endif %}


<div class="blog-body">
    {{ blog.get_body|safe }}
</div>


<div class="blog-post-meta">
    <div class="tags">
        {% if blog.tags.all %}
            Tags:
                {% for tag in blog.tags.all %}
                    <a href="{% url 'blog:tag' tag.slug %}/">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
        {% endif %}
    </div>
    <div class="tags-and-comments">
        {% if blog.categories.all %}
            Posted in
                {% for cat in blog.categories.all %}
                    <a href="{% url 'blog:category' cat.category.slug %}">{{ cat.category.name }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
        {% endif %}

    </div>
</div>
