{% load static wagtailcore_tags wagtailuserbar %}
{% load i18n %}
{% load compress %}
{% load migcontrol_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <title>
    {% block title %}
        {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
    {% endblock %}
    - Migration Control
  </title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {# Global stylesheets #}
  <link rel="stylesheet" type="text/css" href="{% static 'css/migcontrol.css' %}">

  {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
  {% endblock %}

  {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/main.scss' %}">
  {% endcompress %}

</head>

<body>
  {% wagtailuserbar %}

  <nav class="navbar navbar-light navbar-expand-md mb-0 migcontrol-navbar-top">
    <div class="container-fluid">
      <ul class="lang-chooser">
      {% for language_code, language_name in LANGUAGES %}
          {% get_language_info for language_code as lang %}
          {% get_current_language as LANGUAGE_CODE %}
          {% language language_code %}
              <li>
              <a class="{% if language_code == LANGUAGE_CODE %}active{% endif %}" href="{% if page %}{% pageurl page.localized %}{% else %}/{{ language_code }}{% endif %}" rel="alternate" hreflang="{{ language_code }}" title="{{ lang.name_local }}">
                  {{ language_code }}
              </a>
              </li>
          {% endlanguage %}
      {% endfor %}
      </ul>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#metamenucollapse" aria-controls="metamenucollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="metamenucollapse">
        <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" target="_blank" href="https://twitter.com/migcontrol"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" target="_blank" href="https://www.facebook.com/migcontrol"><i class="fab fa-facebook"></i></a>
        </li>
          <li class="nav-item">
             {% slugurl_localized 'contact' as contact_url %}
            <a class="nav-link{% if page.url == contact_url %} active{% endif %}" href="{{ contact_url }}">{% trans "Contact" %}</a>
          </li>
          <li class="nav-item">
            {% slugurl_localized 'subscribe' as subscribe_url %}
            <a class="nav-link{% if page.url == subscribe_url %} active{% endif %}" href="{{ subscribe_url }}">{% trans "Subscribe" %}</a>
          </li>
          <li class="nav-item">
			{% slugurl_localized 'donate' as donate_url %}
            <a class="nav-link{% if page.url == donate_url %} active{% endif %}" href="{{ donate_url }}">{% trans "Donate" %}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">

	  <a class="navbar-brand" href="/{{ LANGUAGE_CODE }}/"><img src="{% static 'image/logo1.png' %}" alt="Migration Control Logo" class="img-fluid"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            {% slugurl_localized 'about' as about_url %}
            <a class="nav-link{% if page.url == about_url %} active{% endif %}" href="{{ about_url }}">{% trans "About" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">{% trans "Wiki" %}</a>
          </li>
          <li class="nav-item">
            {% slugurl_localized 'blog' as blog_url %}
            <a class="nav-link{% if page.url == blog_url %} active{% endif %}" href="{{ blog_url }}">{% trans "Blog" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">{% trans "Archive" %}</a>
          </li>
        </ul>
        <form class="search-form d-flex" action="{% url 'search' %}" method="GET">
          <input name="query" class="form-control me-2" type="search" placeholder="{% trans "Search" %}" aria-label="Search">
          <button class="btn btn-success" type="submit">{% trans "Search" %}</button>
        </form>

      </div>
    </div>

  </nav>



  <div class="container migcontrol-contents-container">
    {% block content %}{% endblock %}
  </div>

  <div class="hero">
    <div class="col-xs-1 center-block">
      <h3>{% trans "Subscribe to our monthly review" %}</h3>
      <p>
        <a href="">{% trans "Show all issues" %} &gt;</a>
      </p>
      <div class="row">
        <form class="col-md-4 offset-md-4">
          <div class="row g-2">
            <div class="col-md-8">
              <label for="staticEmail2" class="visually-hidden">{% trans "Email" %}</label>
              <input type="text" class="form-control" id="staticEmail2" placeholder="email@example.com">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-light mb-3">{% trans "Subscribe" %}</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="container">
      <h3>{% trans "Social links" %}</h3>
      <p class="h3">
        <a href="https://twitter.com/migcontrol" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.facebook.com/migcontrol/" target="_blank"><i class="fab fa-facebook"></i></a>
      </p>

    </div>
  </div>

<footer>
  <nav class="navbar navbar-expand-md navbar-right navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#footernavbar" aria-controls="footernavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <span class="navbar-text">Copyright {% now "Y" %} Migration Control</span>
      <div class="collapse navbar-collapse" id="footernavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          {% slugurl_localized 'imprint' as imprint_url %}
          <a class="nav-link{% if page.url == imprint_url %} active{% endif %}" href="{{ imprint_url }}">{% trans "Imprint" %}</a>
        </li>
        <li class="nav-item">
          {% slugurl_localized 'data-protection' as data_protection_url %}
          <a class="nav-link{% if page.url == data_protection_url %} active{% endif %}" href="{{ data_protection_url }}">{% trans "Data protection" %}</a>
        </li>
        <li class="nav-item">
          {% slugurl_localized 'contact' as contact_url %}
          <a class="nav-link{% if page.url == contact_url %} active{% endif %}" href="{{ contact_url }}">{% trans "Contact" %}</a>
        </li>
      </ul>
      </div>


    </div>
  </nav>
</footer>

    {# Global javascript #}
    <script type="text/javascript" src="{% static 'js/migcontrol.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

    {% block extra_js %}
        {# Override this in templates to add extra javascript #}
    {% endblock %}
  </body>
</html>
