.migcontrol-contents-container
{
    p, blockquote, h1, h2, h3, h4, h5, ul, ol {
        max-width: 700px;
    }
    blockquote {
        border-left: 3px solid #ccc;
        padding-left: 10px;
    }

    h1, h2, h3, h4, h5 {
        font-weight: bold;
    }

    .page-meta {
        font-style: italic;
    }

    .pagination {
        margin: 20px 0;
    }

}

.container-image-background {
  background-attachment: fixed;
  background-clip: border-box;
  background-color: transparent;
  background-origin: padding-box;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  color: white;
  display: table;
  height: 400px;
  width: 100%;
}
