footer {
    .nav-item > a {
        text-transform: uppercase;
        font-weight: bold;
    }
    .navbar {
        margin-bottom: 0;
	
    }
	.nav > link > a:hover{
    background-color:#0000;
}
.navbar-nav .nav-item .nav-link {
    color: red;
}
.new-meows{
   padding: 10px;
   border: 1px solid grey;
   margin : 10px;
   width: 97%;
   display: flex;
   justify-content:space-between;

 }
 .new-meows button{
    width: 80px;
 }
.new-meows input{
    width: calc(100% - 80px)
 }
}

