footer {
    .nav-item > a {
        text-transform: uppercase;
        font-weight: bold;
    }
    .navbar {
        margin-bottom: 0;
	
    }
	.nav > link > a:hover{
    background-color:#0000;
}
.navbar-nav .nav-item .nav-link {
    color: red;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: pink;
}
}
