body {
    position: relative; // required for scrollspy
}



ul.lang-chooser {
    list-style: none;
    margin: 10px 0;
    padding: 0;
    li > a {
        text-transform: uppercase;
        padding: 4px;
        border: 1px solid $migcontrol-grey;
        color: $migcontrol-grey;
        text-decoration: none;
        font-size: 0.9em;
    }
    li {
        display: inline-block;
        margin-right: 5px;
    }
    a.active {
        color: $primary;
    }
    li a:hover {
        color: $primary;
    }
}

.navbar-dark .navbar-nav .nav-item > .nav-link.active {
    color: $primary;
}

.navbar-dark .navbar-nav .nav-item {
    color: $white;
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-item .nav-link {
    color: $white;
}
.navbar-dark .navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:hover {
    color: $primary;
}

.navbar-dark .navbar-nav .nav-item,
.navbar .navbar-nav .nav-item
{
    text-transform: uppercase;
    color: $dark;
}

.navbar .navbar-brand {
    max-width: 300px;
    img {
        max-height: 50px;
    }
}

.bg-dark {
    background-color: $migcontrol-dark-grey !important;
}

.search-form {
    margin-left: 10px;
}

.migcontrol-navbar-top {
    margin: 0;
    padding: 0;
}

nav.migcontrol-navbar-main {
    margin-bottom: 0px;
}
